/* CSS Geral */

html {
  height: 100%;
}

small {
  font-size: 0.7em;
}

h4 {
  line-height: normal;
}

body,
ul,
li {
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

header,
iframe {
  width: 100%;
}

  a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}
  

.dark-background {
  background: gainsboro;
}

.title-row,
.copyright-col {
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  button.btn.btn-info.float-right {
    width: 100%;
  }
}

p.card-text {
  font-size: 0.8em;
}

section {
  padding: 10px 0px;
  border-radius: 3px;
  margin-bottom: 35px;
}

footer {
  padding: 30px 0px;
}

@media (max-width: 767px) {
  .footer-icon {
    text-align: center;
  }
}

/* FIM CSS Geral */


/* Lançamentos */

section#section-lancamentos.dark-background{

background-color: gainsboro;
padding-top: 5em;
}

section#section-lancamentos div.col-lg-6.texto{

margin-top: 15px;

}


div.carousel-item div.lancamento-poster {
  padding-top: 20px;
  text-align: left;
  height: 342px;
  width: 513px;
}

div.carousel-item div.lancamento-poster img {
  width: auto;
  position: relative;
  float: center;
}

span.carousel-control-prev-icon{

color: #000000;

}

div#float-center, p{

  font-size: 0.9em;

}

div#carrosel{

  font-size: 1000px
}



div#texto, h4{

  padding-bottom: 30px;

}

ol.carousel-indicators{

margin-top: 20px;

}
/* FIM Lançamentos */

/* Destaque */

section#section-destaque {
  padding-top: 20px;
}

.filme-destaque {
  margin-bottom: 15px;
  height: 100%;
}



div#botao.col-12.botao{

padding-top: 10px;

  
}

div#card-body, div.texto-dest, h5.centro{

text-align: center;

}

div.img, img.img{

width: 330px; 
height: 486px;
border-radius: 2%;




}

div.card-deck1 {

	display: flex;


}

  
/* FIM Destaque */

/* Avaliações */

section#section-avaliacoes,i {

  font-size: 1em;

}


div.card-deck{

  padding-bottom: 20px;


}





/* FIM Avaliações */

/* Entrevistas */

section#section-entrevistas div.card {

  background: gainsboro;
  border-color: gainsboro;
}

section#section-entrevistas div.card h5.card-title {
  font-size: 1.2em;
}

/* FIM Entrevistas */

/* Novidades */

section#section-novidades div.sobre-col {
  line-height: normal;
  font-size: 0.9em;
}

section#section-novidades div.novidades-col {

  margin-bottom: 50px;

}

section#section-novidades div.imagem-filme img{

padding-top: 20px;
width: 280px;
height: 180px;

}

section#section-novidades div.imagem-filme1 img{

  padding-top: 50px;
  width: 280px;
  height: 220px;
}
   
section#section-novidades div.texto-nov p{

float: right;
padding-top: 1px;


}

/* FIM Novidades */

/* Filme */
.lancamento-poster {
  padding-bottom: 20px;
}

div.container section#section-filme {
  padding: 80px 10px 5px;
  overflow: hidden;
}

section#section-filme img {
  width: auto;
  height: auto;
}

section#section-filme .lancamento-poster {
  text-align: center;
}

.filme-sinopse {
  font-size: 0.9em;
  line-height: normal;
  margin-bottom: 5px;
}

.filme-sinopse strong {
  font-size: 1.1em;
}

.votos {
  color: black;
  font-size: 0.7em;
}

a {
  color: #17a2b8;
}

.produtoras-row {
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 991px) {
  .produtoras-row {
    position: absolute;
    bottom: 0;
    left: 30%;
  }
}

/* FIM Filme */

/* Pesquisa */
div.container section#section-pesquisa {
  padding: 80px 10px 5px;
  overflow: hidden;
}

section#section-pesquisa img {
  height: auto;
  min-width: 100%;
}

.page-item.disabled .text-info {
  color: gray !important;
}
/* FIM Pesquisa */
